@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    /* height: 100%; */
}


body {
    font-family: 'Roboto', sans-serif;

    display: flex;
    flex-direction: column;
    min-height: 100%;

    font-size: 20px;
    line-height: 29px;
    color: #000000;
    background-color: #F9F7F4;

    padding: 0;
    margin: 0;
}

.header-logo {}

.logo {
    display: block;
    margin: 0 auto;
    padding: 0;

    justify-content: center;
    align-items: center;
}

.header-nav-container {
    display: flex;
    flex-wrap: wrap;

    /* центруем */
    align-items: center;
    justify-content: space-between;

    /* ширина контейнера под навигацию */
    width: 1168px;

    margin: 0 auto;

    /* делаем отрицательный отступ на высоту блока меню, чтобы он налез на секцию с фоном */
    margin-bottom: -88px;

    /* без этого фон налазит на меню */
    position: relative;
}

/* .logo {
    display: flex;
    flex-wrap: wrap;
  } */

.header-menu {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 50px;

    width: 468px;
    height: 28px;

    color: #ffffff;
    text-decoration: none;

    /* padding-top: 30px; */
}

.header-menu-item {
    display: flex;
    flex-wrap: wrap;

    color: #ffffff;
    list-style-type: none;

    /* padding-top: 30px; */
}

/* чтобы последний элемент не прилепал к контейнеру: обнуление отступа у последнего дочернего элемента */
.header-menu-item:last-child {
    margin-right: 0;
}

.header-menu-item-link {
    color: #ffffff;
    text-decoration: none;
}

.phone-menu-font-link {
    font-weight: 400;
    font-size: 20px;
    line-height: 142%;
    color: #ffffff;
    text-decoration: none;

    width: 155px;
    height: 28px;

    margin: 0;

}

.intro {
    background: url(../images/backgroudImage.jpg) no-repeat center;
    background-size: cover;
    padding-top: 207px;
    padding-bottom: 119px;
}

.intro-title {
    width: 768px;
    height: 315px;

    font-weight: 700;
    font-size: 96px;
    line-height: 109%;

    text-align: center;
    letter-spacing: 0.02em;

    color: #ffffff;

    margin: 0 auto;
}

.intro-description {
    width: 562px;
    height: 56px;

    font-weight: 400;
    font-size: 20px;
    line-height: 142%;

    text-align: center;

    color: #ffffff;

    margin: 0 auto;
    padding-top: 50px;
}

.intro-button {
    /* width: 78px;
    height: 24px; */

    font-weight: 400;
    font-size: 17px;
    line-height: 34px;
    /* такая же, как высота всей кнопки, чтобы выровнялся текст по вертикали */

    color: #1B1F2B;
    text-decoration: none;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 5px 20px;
    gap: 10px;

    width: 118px;
    height: 34px;

    background: #ffffff;
    border-radius: 10px;

    margin: 0 auto;
    padding: 0;
    justify-content: center;

    margin-top: 55px;
}

 /* Секция Выбери свой тур  */
.tour-choice {
    width: 1170px;
}

.title-tour-choice {
    width: 473px;
    height: 73px;

    font-weight: 700;
    font-size: 59px;
    line-height: 124%;

    text-align: center;

    color: #1B1F2B;

    margin: 0 auto;
    padding-top: 135px;
}

.wrapper-tour-choice-nav {
    display: flex;
    flex-wrap: wrap;

    /* центруем */
    align-items: center;
    justify-content: flex-start;

    /* ширина контейнера */
    width: 699px;
    margin: 0 auto;

    gap: 6px;
}

.tour-choice-nav {
    display: flex;
    flex-wrap: wrap;
}

.tour-choice-nav-item {
    margin-right: 30px;

    padding-top: 35px;

    list-style-type: none;

    /* font-weight: 700;
    font-size: 23px;
    line-height: 28px; */
}

/* .tour-choice-nav-item:last-child {
    margin-right: 0;
} */

.tour-choice-nav-item-orange {
    color: #EFA501;
}

/* Контейнер для всех карточек */
.card-container {
    display: flex;
    margin: 0 auto;
    padding: 0;
    justify-content: center;
}

.travel-list {
    display: grid;
    grid-template-columns: 370px 370px 370px;
    gap: 30px;
    margin: 0;
    padding: 0;
}


/* Контейнер для карточки */
.wrapper-card {
    display: grid;
    grid-template-rows: 50px 86px 16px 24px 305px 28px 50px;
    grid-template-columns: 50px 270px 50px;

    border-radius: 50px;
    margin: 0 auto;
    padding: 0;

    background-size: cover;
    background-repeat: no-repeat;
    min-height: 531px;
    box-sizing: border-box;
}

/* Первая карточка */
.wrapper-card-image1 {
    background-image: url("../images/cardTour1.jpg");
    background-color: #5889b4;

    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%);
}

.travel-list-item {
    list-style-type: none;
}

.travel-list-item-title {
    grid-column: 2/2;
    grid-row: 2/2;
}

.travel-list-item-description {
    grid-column: 2/2;
    grid-row: 4/4;
}

.travel-list-item-button {
    grid-column: 2/2;
    grid-row: 6/6;
}

.travel-list-item-title {
    width: 270px;
    height: 86px;

    font-weight: 500;
    font-size: 35px;
    line-height: 122%;

    color: #ffffff;

    margin: 0;
}

.travel-list-item-description {
    width: 270px;
    height: 24px;

    font-weight: 400;
    font-size: 17px;
    line-height: 142%;
    letter-spacing: -0.01em;

    color: #ffffff;
}

.travel-list-item-button {
    text-decoration: none;

    width: 120px;
    height: 28px;

    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 122%;

    color: #ffffff;
}

/* Вторая карточка */
.wrapper-card-image2 {
    background-image: url("../images/cardTour2.jpg");
    background-color: #a58276;
}

/* Третья карточка */
.wrapper-card-image3 {
    background-image: url("../images/cardTour3.jpg");
    background-color: #ebe8ef;
}

/* Четвертая карточка */
.wrapper-card-image4 {
    background-image: url("../images/cardTour4.jpg");
    background-color: #24211c;
}

/* Пятая карточка */
.wrapper-card-image5 {
    background-image: url("../images/cardTour5.jpg");
    background-color: #e1e9ec;
}

/* Шестая карточка */
.wrapper-card-image6 {
    background-image: url("../images/cardTour6.jpg");
    background-color: #00444b;
}


/* Секция tour-constructor  */

.tour-constructor-title {
    width: 458px;
    height: 73px;

    font-weight: 700;
    font-size: 59px;
    line-height: 124%;

    text-align: center;

    color: #1B1F2B;

    margin: 0 auto;
    padding-top: 135px;
}

.tour-constructor-description {
    width: 418px;
    height: 56px;

    font-weight: 400;
    font-size: 20px;
    line-height: 142%;

    text-align: center;

    color: #A6A6A6;

    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 100px;
}

.tour-constructor-form {
    display: grid;

    grid-template-rows: 70px 104px 104px 104px 188px 64px 26px 58px 70px;
    grid-template-columns: 70px 500px 500px 70px;

    column-gap: 30px;
    row-gap: 33px;

    margin: 0 auto;
    padding: 0;
}

.wrapper-tour-constructor-form {
    display: flex;

    margin: 0 auto;
    padding: 0;
    justify-content: center;

    background: #ffffff;
    border-radius: 50px;

    width: 1170px;
    height: 986px;
}

.tour-constructor-form-label-username {
    grid-column: 2/2;
    grid-row: 2/2;

    display: flex;
    flex-direction: column;
}

.tour-constructor-form-label-direction {
    grid-column: 3/3;
    grid-row: 2/2;
}

.tour-constructor-form-label-email {
    grid-column: 2/2;
    grid-row: 3/3;
}

.tour-constructor-form-label-tel {
    grid-column: 3/3;
    grid-row: 3/3;
}

.tour-constructor-form-label-date-ot {
    grid-column: 2/2;
    grid-row: 4/4;
}

.tour-constructor-form-label-date-do {
    grid-column: 3/3;
    grid-row: 4/4;
}

.tour-constructor-form-label-comment {
    grid-column: 2/3;
    grid-row: 5/5;
}

.wrapper-radio {
    grid-column: 2/2;
    grid-row: 6/6;
}

.tour-constructor-form-label-checkbox-option {
    grid-column: 2/4;
    grid-row: 7/7;
}

.wrapper-button {
    grid-column: 2/2;
    grid-row: 8/8;

    display:flex;

    justify-content: space-between;
}

.tour-constructor-form-input-username {
    box-sizing: border-box;
    
    padding: 20px;
    gap: 10px;

    height: 68px;

    background: #F9F7F4;

    border: 1px solid #F4F0E9;
    border-radius: 10px;
    
    margin-top: 8px;
}

.tour-constructor-form-select-direction {
    box-sizing: border-box;

    padding: 20px;
    gap: 10px;

    height: 68px;
    width: 500px;

    background: #F9F7F4;

    border: 1px solid #F4F0E9;
    border-radius: 10px;

    margin-top: 8px;
}

.tour-constructor-form-input-email {
    box-sizing: border-box;

    padding: 20px;
    gap: 10px;
    
    height: 68px;
    width: 500px;

    background: #F9F7F4;

    border: 1px solid #F4F0E9;
    border-radius: 10px;

    margin-top: 8px;
}

.tour-constructor-form-input-tel {
    box-sizing: border-box;

    padding: 20px;
    gap: 10px;
    
    height: 68px;
    width: 500px;

    background: #F9F7F4;

    border: 1px solid #F4F0E9;
    border-radius: 10px;

    margin-top: 8px;
}

.tour-constructor-form-input-date-ot {
    box-sizing: border-box;

    padding: 20px;
    gap: 10px;
    
    height: 68px;
    width: 500px;

    background: #F9F7F4;

    border: 1px solid #F4F0E9;
    border-radius: 10px;

    margin-top: 8px;
}

.tour-constructor-form-input-date-do {
    box-sizing: border-box;

    padding: 20px;
    gap: 10px;
    
    height: 68px;
    width: 500px;

    background: #F9F7F4;

    border: 1px solid #F4F0E9;
    border-radius: 10px;

    margin-top: 8px;
}

.tour-constructor-form-textarea-comment {
    box-sizing: border-box;

    padding: 20px;
    gap: 10px;
    
    height: 152px;
    width: 1030px;

    background: #F9F7F4;

    border: 1px solid #F4F0E9;
    border-radius: 10px;

    margin-top: 8px;
}

.form-label-font {
    font-weight: 400;
    font-size: 20px;
    line-height: 142%;
    color: #1B1F2B;
}

.form-input-font {
    font-weight: 400;
    font-size: 20px;
    line-height: 142%;
    color: #A6A6A6;
}

.form-label-checkbox-font {
    font-weight: 400;
    font-size: 17px;
    line-height: 142%;

    letter-spacing: -0.01em;

    color: #A6A6A6;
}

.tour-constructor-form-description {
    margin: 0 auto;
}

.input-checkbox-option-strong {
    color: #1B1F2B;
}

.tour-constructor-form-button-submit {
    display: flex;

    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    gap: 10px;

    width: 235px;
    height: 58px;

    background: #286562;
    border-radius: 10px;

    font-weight: 400;
    font-size: 20px;
    line-height: 28px;

    color: #ffffff;

    padding: 0;

    border: none;
}

.tour-constructor-form-button-reset {
    display: flex;
    
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    gap: 10px;

    width: 235px;
    height: 58px;

    background: #E0F0E5;
    border-radius: 10px;

    font-weight: 400;
    font-size: 20px;
    line-height: 142%;

    color: #286562;

    border: none;
}

/* Секция tour-reviews */
.tour-reviews-title {
    width: 529px;
    
    font-weight: 700;
    font-size: 59px;
    line-height: 124%;

    text-align: center;

    color: #1B1F2B;

    margin: 0 auto;
    padding-top: 135px;
}

.tour-reviews-description {
    width: 418px;
    
    font-weight: 400;
    font-size: 20px;
    line-height: 142%;

    text-align: center;

    color: #A6A6A6;

    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 100px;
}

.tour-reviews-list {
    display: flex;

    margin: 0 auto;
    padding: 0;

    justify-content: center;
    gap: 30px;
}

/* Убирает булеты */
.tour-reviews-item {
    list-style-type: none;
}

.tour-reviews-item-description {
    width: 490px;
    
    font-weight: 700;
    font-size: 23px;
    line-height: 122%;

    color: #1B1F2B;

    margin: 0; 
}

.tour-reviews-name {
    width: 415px;
    height: 43px;

    font-weight: 500;
    font-size: 35px;
    line-height: 122%;

    color: #1B1F2B;

    margin: 0 auto;
}

.tour-reviews-title-tour {
    width: 415px;
    height: 24px;

    font-weight: 400;
    font-size: 17px;
    line-height: 142%;

    letter-spacing: -0.01em;

    color: #A6A6A6;

    margin: 0 auto;
}

.tour-reviews-foto {
    width: 75px;
    height: 75px;

    border-radius: 100px;
}

.wrapper-reviews-name-title {
    display:flex;
    flex-direction: column;
}

.wrapper-reviews-name-title-foto {
    display:flex;
    justify-content: space-between;
}

.wrapper-reviews-name-title-foto-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 40px;

    width: 570px;
    height: 673px;

    background: #F4F0E9;
    border-radius: 50px;
}
/* Секция Фотографии путешествий */

.travel-photos-title {
    width: 723px;
    height: 73px;

    font-weight: 700;
    font-size: 59px;
    line-height: 124%;

    text-align: center;

    color: #1B1F2B;

    margin: 0 auto;
    padding-top: 135px;
}

.travel-photos-description {
    width: 418px;
    height: 56px;


    font-weight: 400;
    font-size: 20px;
    line-height: 142%;

    text-align: center;

    color: #A6A6A6;

    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 100px;
}


.travel-photos-list {
    list-style-type: none; 

    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0px 30px;
    margin: 0 auto;
    gap: 30px;

    width: 1920px;
    height: 963px;
}

.travel-photos-wide {
    width: 443px;
    height: 300px;

    border-radius: 50px;
}

.travel-photos-narrow {
    width: 348px;
    height: 301px;

    border-radius: 50px;
}

/* Секция travel-stories */

.travel-stories-title {
    width: 615px;
    height: 73px;


    font-weight: 700;
    font-size: 59px;
    line-height: 124%;

    text-align: center;

    color: #1B1F2B;

    margin: 0 auto;
    padding-top: 135px;

}

.travel-stories-description {
    width: 418px;
    height: 56px;


    font-weight: 400;
    font-size: 20px;
    line-height: 142%;

    text-align: center;

    color: #A6A6A6;

    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 100px;
}

.travel-stories-items-title {
    width: 554px;
    
    font-weight: 500;
    font-size: 35px;
    line-height: 122%;

    margin: 0;
}

.travel-stories-item-description {
    width: 554px;
    height: 112px;

    font-weight: 400;
    font-size: 20px;
    line-height: 142%;

    margin: 0;
}

.travel-stories-list-advantages {
    font-weight: 400;
    font-size: 20px;
    line-height: 142%;

    margin: 0;
}

.travel-stories-list-social {
    display: flex;
    padding: 0px;
    gap: 35px;

    list-style-type: none;

    font-weight: 400;
    font-size: 20px;
    line-height: 142%;
}

.wrapper-button-list-social {
    display: flex;
    justify-content: space-between;
}

.travel-stories-button {
    text-decoration: none;

    width: 120px;
    height: 28px;

    font-weight: 700;
    font-size: 23px;
    line-height: 122%;

    color: #ffffff;
}

.wrapper-items-advantages {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 37px;
}

.travel-stories-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 60px;

    width: 1170px;
    height: 567px;

    border-radius: 50px;

    list-style-type: none;

    background-size: cover;

    color:#ffffff;
}

.travel-stories-items-background-1 {
    background-image: url("../images/travelStory1.jpg");
    background-color: #cec2ba;
}

.travel-stories-items-background-2 {
    background-image: url("../images/travelStory2.jpg");
    background-color: #162333;
}

.travel-stories-items-background-3 {
    background-image: url("../images/travelStory3.jpg");
    background-color: #c2bbc2;
}

.travel-stories-list {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
}