@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    /* height: 100%; */
  }


body {
    font-family: 'Roboto', sans-serif;

    display: flex;
    flex-direction: column;
    min-height: 100%;

    font-size: 20px;
    line-height: 29px;
    color: #000000; 
    background-color: #F9F7F4;

    padding: 0;
    margin: 0;
}

.header-logo {
    
}

.logo {
    display: block;
    margin: 0 auto;
    padding: 0;

    justify-content: center;
    align-items: center;
}

.header-nav-container {
    display: flex;
    flex-wrap: wrap;

    /* центруем */
    align-items: center;
    justify-content: space-between;

    /* ширина контейнера под навигацию */
    width: 1168px;

    margin: 0 auto;

    /* делаем отрицательный отступ на высоту блока меню, чтобы он налез на секцию с фоном */
    margin-bottom: -88px; 
    
    /* без этого фон налазит на меню */
    position: relative;
}

/* .logo {
    display: flex;
    flex-wrap: wrap;
  } */

.header-menu {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 50px;

    width: 468px;
    height: 28px;

    color:#ffffff;
    text-decoration: none;

    /* padding-top: 30px; */
}

.header-menu-item {
    display: flex;
    flex-wrap: wrap;

    color:#ffffff;
    list-style-type: none;

    /* padding-top: 30px; */
}

/* чтобы последний элемент не прилепал к контейнеру: обнуление отступа у последнего дочернего элемента */
.header-menu-item:last-child {
    margin-right: 0;
}

.header-menu-item-link {
    color:#ffffff;
    text-decoration: none;
}

.phone-menu-font-link {
    font-weight: 400;
    font-size: 20px;
    line-height: 142%;
    color:#ffffff;
    text-decoration: none;

    width: 155px;
    height: 28px;

    margin: 0;
    
}

.intro {
    background: url(../images/backgroudImage.jpg) no-repeat center;
    background-size: cover;
    padding-top: 207px;
    padding-bottom: 119px;
}

.intro-title {
    width: 768px;
    height: 315px;

    font-weight: 700;
    font-size: 96px;
    line-height: 109%;

    text-align: center;
    letter-spacing: 0.02em;

    color: #ffffff;

    margin: 0 auto;
}

.intro-description {
    width: 562px;
    height: 56px;

    font-weight: 400;
    font-size: 20px;
    line-height: 142%;

    text-align: center;

    color: #ffffff;

    margin: 0 auto;
    padding-top: 50px;
}

.intro-button {
    /* width: 78px;
    height: 24px; */

    font-weight: 400;
    font-size: 17px;
    line-height: 34px; /* такая же, как высота всей кнопки, чтобы выровнялся текст по вертикали */

    color: #1B1F2B;
    text-decoration: none;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 5px 20px;
    gap: 10px;

    width: 118px;
    height: 34px;

    background: #ffffff;
    border-radius: 10px;

    margin: 0 auto;
    padding: 0;
    justify-content: center;

    margin-top: 55px;
}

<!-- Секция Выбери свой тур -->

.tour-choice {
    width: 1170px;
}

.title-tour-choice {
    width: 473px;
    height: 73px;

    font-weight: 700;
    font-size: 59px;
    line-height: 124%;

    text-align: center;

    color: #1B1F2B;

    margin: 0 auto;
    padding-top: 135px;
}

.wrapper-tour-choice-nav {
    display: flex;
    flex-wrap: wrap;

    /* центруем */
    align-items: center;
    justify-content: flex-start;

    /* ширина контейнера */
    width: 699px;
    margin: 0 auto;

    gap: 6px;
}

.tour-choice-nav {
    display: flex;
    flex-wrap: wrap;
}

.tour-choice-nav-item {
    margin-right: 30px;

    padding-top: 35px;

    list-style-type: none;

    /* font-weight: 700;
    font-size: 23px;
    line-height: 28px; */
}

/* .tour-choice-nav-item:last-child {
    margin-right: 0;
} */

.tour-choice-nav-item-orange {
    color: #EFA501;
}

/* Контейнер для всех карточек */
.card-container {
    display: grid;
    grid-template-columns: 370px 370px 370px;
    gap: 30px;
    margin: 0;
    padding: 0;
    margin-bottom: 135px;
}


/* Контейнер для карточки */
.wrapper-card {
    display: grid;
    grid-template-columns: 20px 100px 20px ;
    grid-template-rows: 20px 30px 30px 100px 30px 20px;
    border-radius: 50px;
    margin: 0 auto;
    padding: 0;
}

.wrapper-card-image1 {
    background-image: url("../images/cardTour1.jpg"); 
    background-color: #5889b4;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 531px;
    padding-top: 51px;
    box-sizing: border-box;
    padding-bottom: 82px;
}

.travel-list-item-title {
    text-decoration: none;
}